global
log /dev/log local0
log /dev/log local1 notice
daemon
maxconn 2048

defaults
mode http
log global
option httplog
option dontlognull
timeout connect 5s
timeout client 50s
timeout server 50s

frontend Southward-frontend
bind *:80
mode http
default_backend Southward-pool

backend Southward-pool
balance roundrobin
server host1 192.168.1.10:80 check
server host2 192.168.1.11:80 check
server host3 192.168.1.12:80 check

listen stats
bind *:9000
stats enable
stats uri /stats
stats refresh 10s
stats realm Haproxy\ Statistics
